@model Council.Core.Models.CreateSettings
@{
    ViewBag.Title = "تنظیمات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Settings = ViewBag.Settings as List<Council.Core.Entities.SystemSettings>;
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                ثبت تنظیمات
            </div>
            @using (Html.BeginForm("Create", "SystemSettings", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="card-body">
                    @if (TempData["message"] != null)
                    {
                        var message = (Council.Core.Models.ShowMessage)TempData["message"];
                        <div class="alert @message.MessageType"><span class="closebtn">×</span>@message.Message</div>
                    }

                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()

                    <div class="row form-group">
                        @Html.LabelFor(model => model.CouncilName, htmlAttributes: new { @class = "control-label col-lg-3 col-md-3 col-sm-12 col-12" })
                        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                            @Html.EditorFor(model => model.CouncilName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CouncilName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        @Html.LabelFor(m => m.CouncilLogo, new { @class = "control-label col-lg-3 col-md-3 col-sm-12 col-12" })
                        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                            @Html.TextBoxFor(m => m.CouncilLogo, new { @class = "form-control", type = "file" })
                            <span class="d-none"></span>
                            <p class="mb-0"><strong>ابعاد:</strong> 52*190 پیکسل</p>
                            @Html.ValidationMessageFor(m => m.CouncilLogo, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        @Html.LabelFor(m => m.CouncilLoginLogo, new { @class = "control-label col-lg-3 col-md-3 col-sm-12 col-12" })
                        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                            @Html.TextBoxFor(m => m.CouncilLoginLogo, new { @class = "form-control", type = "file" })
                            <span class="d-none"></span>
                            <p class="mb-0"><strong>ابعاد:</strong> 220*180 پیکسل</p>
                            @Html.ValidationMessageFor(m => m.CouncilLoginLogo, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12"></div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                            <div>
                                @Html.CheckBoxFor(m => m.Used)
                                @Html.LabelFor(m => m.Used, new { @class = "control-label" })
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="ثبت" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>

@if (Settings.Any())
{
    <div class="card">
        <div class="card-header">
            تنظیمات
        </div>
        <div class="card-body">
            @Html.ValidationMessageFor(m => m.Used, null, new { @class = "text-danger" })
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <tr>
                        <th>نام شورا</th>
                        <th>لوگو</th>
                        <th>لوگو صفحه ورود</th>
                        <th>وضعیت</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Settings)
                    {
                        <tr>
                            <td>@item.CouncilName</td>
                            <td>
                                <img src="~/Images/logo/@item.CouncilLogo" width="190" height="52" />
                            </td>
                            <td>
                                <img src="~/Images/logo/@item.CouncilLoginLogo" height="60"  />
                            </td>
                            <td>
                                @(item.Used ? "تنظیمات پیش فرض" : "")
                            </td>
                            <td>
                                <div class="dropdown drp-action">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        عملیات
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("Edit", "SystemSettings", new { id = item.ID })" title="ویرایش">
                                                ویرایش
                                            </a>
                                        </li>
                                        @if (!item.Used)
                                        {
                                            <li>
                                                <a href="@Url.Action("ActiveSettings", "SystemSettings", new { id = item.ID })" title="فعال کردن">
                                                    انتخاب به عنوان پیش فرض
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <a href="@Url.Action("DeleteSettings", "SystemSettings", new { id = item.ID })" title="غیر فعال کردن">
                                                حذف
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}


