@model IEnumerable<Council.Core.Entities.Letter>
@using Council.UI.Helpers;
@using Council.Core
@using Microsoft.AspNet.Identity;
@using Council.Core.Enums;
@{
    var comNumber = 0;
    Council.Service.PublicMetods publicMethod = new Council.Service.PublicMetods();
    var commisions = ViewBag.Commisions as List<Council.Core.Models.CommisionNames>;
}

@foreach (var item in Model)
{
    var commisionName = item.CommissionMeeting != null ? commisions.Where(m => m.Id == item.CommissionMeeting.CommissionId).Select(m => m.Name).SingleOrDefault() : "";
    <tr class="@(item.LetterStatus == LetterStatus.CommissionEnd ? "white-Color" : item.LetterStatus == LetterStatus.End ? "white-Color" : "" ) @(item.IsRule!=null ? item.IsRule==true?"isRule":"isNotRule":"" )">
        <td>
            <span id="rowNumber">@(++comNumber + Convert.ToInt32(ViewBag.rulePageNumber))</span>
        </td>                
        <td>
            @if (!string.IsNullOrEmpty(commisionName))
            {
                <span class="PostText"> [ کمیسیون @commisionName ] &nbsp;&nbsp;</span>
            } 
            @Html.DisplayFor(modelItem => item.Title)               
        </td>
                
        <td>
            @Html.DisplayFor(modelItem => item.LetterNumber)
        </td>            
        <td>               
            @Html.DisplayFor(modelItem => item.CreateOn)
        </td>            
        @*<td>*@
                      
            @*@{
                if (item.IsRule == null)
                {
                    @Html.ActionLink("مصوب شود", "ChangeRuleLetter", "Rule", new { id=item.ID, rule=true }, new { @class = "btn btn-default isRule" })
                    @Html.ActionLink("رد شود", "ChangeRuleLetter", "Rule", new { id = item.ID, rule = false }, new { @class = "btn btn-default isNotRule" })
                }
                else
                {
                    @Html.ActionLink("چاپ", "Print", "Rule", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
                }
                        
            }*@
                                  
        @*</td>*@
    <td>
        @*<a class="btn btn-primary" href="@Url.Action("LetterItem", "Letter", new { letterID = item.ID })" title="نمایش">
            ثبت مصوبه
        </a>*@
        @{
            if (item.CommissionMeeting.Content == null)
            {
                <a class="btn btn-primary" href="@Url.Action("ShowCommisionRuleLetter", "Rule", new { letterId = item.ID })" title="ثبت مصوبه">
                    ثبت مصوبه
                </a>
            }
            else if (item.CommissionMeeting != null)
            {
                if (item.CommissionMeeting.MeetingHeader != null)
                {
                    if (!item.CommissionMeeting.MeetingHeader.FinalApproved)
                    {
                        <a class="btn btn-primary RuleEditWidth" href="@Url.Action("EditCommisionRuleLetter", "Rule", new { letterId = item.ID })" title="ثبت مصوبه">
                            ویرایش
                        </a>
                    }
                }

            }
        }

        <a class="btn btn-info" href="@Url.Action("LetterItem", "Letter", new { letterID = item.ID })" title="نمایش">
            نمایش
        </a>
    </td>
    </tr>
}
@{
    <input id="ruleLetterPageNumber" type="hidden" value="1" />
    <input id="ruleLetterCount" type="hidden" value="@ViewBag.ruleLetterCount" />   
}
