
@using Council.Service;

@{
    ViewBag.Title = "رد / تصویب دستور جلسه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        رد / تصویب دستور جلسه به شماره جلسه [<span class="PostText">@ViewBag.MeetingNumber</span>] به موضوع [ <sapan class="PostText">@ViewBag.TitleLetter</sapan> ] <span></span>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-sm-12">
                <a href="@Url.Action("Index","Rule")" class="btn btn-sm btn-primary">بازگشت</a>
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-12 col-xs-12">شماره نامه</label>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                @ViewBag.LetterNumber
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-12 col-xs-12">تاریخ ثبت</label>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                @ViewBag.RegisterDate
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-12 col-xs-12">تاریخ ارسال</label>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                @ViewBag.SendOutletterDate
            </div>
        </div>

        @using (Html.BeginForm("ChangeRuleLetter", "Rule", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ChangeRuleValForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@ViewBag.LetterId" />
            <input type="hidden" name="rule" value="" />

            <div class="row form-group">
                <label class="control-label col-lg-3 col-md-3 col-sm-12 col-xs-12">توضیحات</label>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <textarea id="Comment" name="Comment" class="form-control SampleEditor"></textarea>
                </div>
            </div>
        }

        <div class="row form-group">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <ul>
                    <li><span class="greenColor"> رای موافق :@ViewBag.Voted</span></li>
                    <li><span class="redColor">رای مخالف : @ViewBag.NoVoted</span></li>
                    <li><span class="orangeColor2"> رای ممتنع : @ViewBag.CancelVoted</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <input type="button" class="btn btn-sm btn-primary is_rule" value="مصوب شود">
        <input type="button" class="btn btn-sm btn-danger isNot_rule" value="رد شود">
        <a href="/rule/index" class="btn btn-sm btn-success showRule">نمایش مصوبات</a>
    </div>
</div>

@section scripts{
    <script src="~/Plugins/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script>
        $("input.is_rule").click(function () {
            $("input[name='rule']").val('true');
            $("#ChangeRuleValForm").submit();
        });
        $("input.isNot_rule").click(function () {
            $("input[name='rule']").val('false');
            $("#ChangeRuleValForm").submit();
        });
    </script>
}

