@model Council.Core.Entities.Commission

@{
    ViewBag.Title = "ویرایش کمیسیون";
    var members = ViewBag.Members as List<Council.Core.Entities.User>;
    var currentChairman = Model.CommissionChairman;
    var commissionMembers = ViewBag.CommisionMembers as List<Council.Core.Entities.User>;
}

<div class="card">
    <div class="card-header">
        ویرایش کمیسیون
    </div>
@using (Html.BeginForm())
{
    <div class="card-body">
        @if (TempData["message"] != null)
        {
            <div class="row form-group">
                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    @{var message = (Council.Core.Models.ShowMessage)TempData["message"];}
                    <div class="alert @message.MessageType"><span class="closebtn">×</span>@message.Message</div>
                </div>
            </div>
        }

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <input type="text" name="members" id="members" class="hidden" />

            <div class="form-horizontal">
                <div class="row form-group">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-lg-3 col-md-3 col-sm-12 col-12" })
                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">
                            <label class="control-label col-lg-3 col-md-3 col-sm-12 col-12" for="chairManID">رئیس کمیسیون</label>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                <select class="text-box single-line form-control" name="chairManID">
                                    @foreach (var item in members)
                                    {
                                        <option value="@item.ID" @(item == currentChairman ? "selected" : "")>@(item.FirstName + " " + item.LastName)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.Tittle, new { @class = "control-label col-lg-1 col-md-1 col-sm-12 col-12" })
                    <div class="col-lg-11 col-md-11 col-sm-12 col-12">
                        @Html.EditorFor(model => model.Tittle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tittle, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <input type="submit" value="ذخیره" class="btn btn-success" />
    </div>
        }
</div>

<div class="card">
    <div class="card-header">
        اعضای کمیسیون
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="" class="table-bordered table-condensed table table-hover table-striped">
                <thead>
                    <tr>
                        <td>نام و نام خانوادگی</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in commissionMembers)
                    {
                        <tr>
                            <td class="firstAndLastName" data-value="@item.ID">@(item.FirstName + "  " + item.LastName)</td>
                            @if (item != currentChairman)
                            {
                                <td>
                                    @Html.ActionLink("حذف", "RemoveCommissionMember",
                                new { memberId = item.ID, commissionId = Model.ID },
                                new { @class = "btn btn-sm btn-danger" })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                ثبت کاربر
            </button>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">انتخاب کاربران مجاز</h4>
            </div>
            <div class="modal-body">
                <div class="input-group left-addon searchInput">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="فیلتر..." id="filterRecivers" />
                </div>
                <div class="table-responsive">
                    <table id="cUsers" class="table-bordered table-condensed table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <td>نام و نام خانوادگی</td>
                                <td>انتخاب</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in members)
                            {
                                if (commissionMembers == null || !commissionMembers.Exists(c => c == item))
                                {
                                    <tr>
                                        <td class="firstAndLastName" id="@("firstAndLastName" + item.ID)">@(item.FirstName + "  " + item.LastName)</td>
                                        <td>
                                            @Html.ActionLink("ثبت", "AddCommissionMember",
                                             new { memberId = item.ID, commissionId = Model.ID },
                                             new { @class = "btn btn-default" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#filterRecivers').keyup(function () {
            var _filter = $(this).val();
            $('#cUsers .firstAndLastName').each(function (i, element) {
                if (_filter.length < 1)
                    $(this).parent().show()
                else {
                    if ($(this).html().indexOf(_filter) >= 0)
                        $(this).parent().show()
                    else
                        $(this).parent().hide();
                }

            });
        });
    </script>
}