@model IEnumerable<Council.Core.Entities.OutLetter>
@using Council.UI.Helpers;
@using Council.Core
@using Microsoft.AspNet.Identity;
@{
    var comNumber = 0;
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
    <tr>
        <td class="text-center"><span id="rowNumber">@(++comNumber + Convert.ToInt32(ViewBag.LawPageNumber))</span></td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
            <input id="LawOutLetterPageNumber" type="hidden" value="1" />
            <input id="LawOutLetterCount" type="hidden" value="@ViewBag.LawOutLetterCount" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutLetterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutLetterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organ.Name)
        </td>
        <td>
            @{
                switch (item.OutLetterStatus)
                {
                    case 4:<text>تک فوریتی</text>
                        break;
                    case 5:<text>دو فوریتی</text>
                        break;
                    case 6:<text>سه فوریتی</text>
                        break;
                 }
            }
        </td>
        <td style="width: 287px;">
           @Html.ActionLink("نمایش", "DisplayReciveLetter", "OutLetter", new { letterID = item.ID }, new { @class = "btn btn-success" })
        </td>
        @*<td style="width: 72px;">
            <a class="btn btn-success" href="@Url.Action("UndoOutLetterRemoved", "OutLetter", new { outLetterID = item.ID , @class = "btn btn-success" })" title="بازگردانی">
                بازگردانی
            </a>
        </td>*@
    </tr>
    }
        }