@model IEnumerable<Council.Core.Models.LowPlansModel>
@using Council.UI.Helpers;
@using Council.Core
@using Microsoft.AspNet.Identity;
@{
    var comNumber = 0;
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
<tr>
    
    <td class="text-center"><span id="rowNumber">@(++comNumber + Convert.ToInt32(ViewBag.LettersPageNumber))</span></td>
    <td style="width: 35%">
        @Html.DisplayFor(modelItem => item.Title)
        <input id="LetterPageNumber" type="hidden" value="1" />
        <input id="LetterCount" type="hidden" value="@ViewBag.LetterCount" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OutLetterNumber)
    </td>
    <td class="letterStatusTd">
        @{ 
            if (item.TypeLetter == 1)
            {
                <span class="lawLetter">لایحه</span>
            }
            else
            {
                <span class="planLetter">طرح</span>
            }
        }
    </td>
    <td>        
        @Html.GetPersianDate(item.OutLettersCreatedOn)
    </td>
    <td>
       @Html.DisplayFor(modelItem => item.OrganName)
    </td>
    <td style="width: 80px;">
        @Html.ActionLink("نمایش", "DisplaySendLetter", "OutLetter", new { letterID = item.OutLetterId }, new { @class = "btn btn-success" })
    </td>
    <td style="width: 130px;">
        @if (item.TypeLetter == 2)
        {
            <a href="#">ارسال بصورت ECE</a>
        }       
    </td>

</tr>
    }
}