@model Council.Core.Entities.OutLetter

@{
    ViewBag.Title = "نمایش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        نمایش نامه ارسالی
    </div>
    <div class="card-body">
        @*<div class="row form-group">
            <div class="col-sm-12">
                <a href="@Url.Action("ShowPlanLawsLetters","OutLetter")" class="btn btn-sm btn-primary">بازگشت</a>
            </div>
        </div>*@
        @if (Model.RejectReason != null && Model.ConfirmBoss == false)
        {
            <div style="background-color:#ff6a00;color:white;padding:10px">
                <strong>عدم تایید: </strong> @Model.RejectReason
            </div>
        }
        <input type="hidden" name="Organ" value="@Model.Organ" />
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong>موضوع</strong> :
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Subject)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> تاریخ صادره نامه :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.OutLetterDate)
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong>@Html.DisplayNameFor(model => model.OutLetterNumber) :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.OutLetterNumber)
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong>تاریخ ثبت در دبیرخانه</strong> :
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SendDate)
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong>@Html.DisplayNameFor(model => model.Reciver)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Reciver)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> @Html.DisplayNameFor(model => model.Transferee)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Transferee)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong>@Html.DisplayNameFor(model => model.LinkedLetters)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.LinkedLetters)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> @Html.DisplayNameFor(model => model.OrginalLetter)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.OrginalLetter)
                    </div>
                </div>
            </div>           

        </div>
        
        <div class="row">

            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> @Html.DisplayNameFor(model => model.BoxNumber)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.BoxNumber)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> @Html.DisplayNameFor(model => model.ArchiveCode)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.ArchiveCode)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> @Html.DisplayNameFor(model => model.Organ.Name)  :</strong>
                    </div>
                    <div class="col-md-5">
                        @ViewBag.OrganList
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <strong> رونوشت  :</strong>
                    </div>
                    <div class="col-md-5">
                        @ViewBag.OrganCopy
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row form-group">
            <div class="col-md-3">
                <strong> @Html.DisplayName("توضیحات / متن")  :</strong>
            </div>
            <div class="col-md-9 height-200">
                @Html.Raw(Model.Comment)
            </div>
        </div>

        <hr />
        @if ((!String.IsNullOrEmpty(Model.Files)) || (Model.Uploads != null && Model.Uploads.Count != 0))
        {
            <div><h4>ضمائم اولیه و اصلی</h4></div>
            var counter = 1;
            if (!String.IsNullOrEmpty(Model.Files))
            {
                <a id="attachment" href="@(Url.Content("~" + Model.Files))">[ فایل ضمیمه @counter ]</a>
                counter++;
            }
            foreach (var item in Model.Uploads)
            {
                <a href="@(Url.Content("~" + item.FileAddress))">[ فایل ضمیمه @counter ]</a>
                counter++;
            }
        }
        <div>
            @if (User.IsInRole("Admin"))
            {
                <a href="javascript:void(0)" onclick="showModalNote()" class="btn btn-success">افزودن یادداشت</a>
            }

        </div>
        @*<hr />
        <p>
            @Html.ActionLink("بازگشت", "ShowOutLetters", null, new { @class = "" })
        </p>*@
        <div class="modal fade" id="AddNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                        <h5>افزودن یادداشت</h5>
                    </div>
                    <br />
                    @using (Html.BeginForm("AddNote", "OutLetter", FormMethod.Post, new { enctype = "multipart/form-data", @id = "AddNoteForm" }))
                    {
                        <div class="modal-body">
                            <label>یادداشت :</label>
                            <input type="text" name="text" class="text-box" required="required" />
                            <input type="hidden" name="letterId" value=@Model.ID />
                        </div>

                        <div class="modal-footer">
                            <input type="submit" class="btn_Custome btn-success" value="ثبت" />
                            <button type="button" class="btn_Custome btn-danger" data-dismiss="modal">بستن</button>
                        </div>
                    }

                </div>
            </div>
        </div>
        @if (User.IsInRole("Boss") || User.IsInRole("BossHelper"))
        {


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">

                            @using (Html.BeginForm("RejectLetter", "OutLetter", new { id = Model.ID }))
                            {

                                <div class="row form-group">
                                    @Html.LabelFor(model => model.RejectReason, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-5" })
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                        @Html.TextAreaFor(model => model.RejectReason, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RejectReason, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 text-right">
                                        <input type="submit" class="btn btn-sm btn-warning" value="عدم تایید" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">

                            @using (Html.BeginForm("ApproveSendLetter", "OutLetter", new { id = Model.ID }))
                            {
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <p>در صورت تایید شما، امکان چاپ و بایگانی نامه برای دبیرخانه مهیا می گردد.</p>
                                        <input type="submit" class="btn btn-sm btn-success" value="تایید" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>
<script>
    $(".displayBox").prev().css("font-weight", "bold")
    function showModalNote() {
        $("#AddNoteModal").modal("show");
    }
</script>
