@model IEnumerable<Council.Core.Models.MyLetter>
@using Council.UI.Helpers;
@using Council.Core.Entities;
@using Council.UI.Helpers;
@using Microsoft.AspNet.Identity;
@using Council.Core.Enums;

    @{
        var rowNumber = -1;
    }
    @foreach (var item in Model.OrderByDescending(l => l.CreatedOn))
    {
        <tr>
            <td> @(++rowNumber + Convert.ToInt32(ViewBag.OutOfReadyRowNumber))</td>
            <td>

                @Html.DisplayFor(modelItem => item.Title)
                <input id="OutOfReadyLettersPageNumber" type="hidden" value="1" />
                <input id="OutOfReadyLettersCount" type="hidden" value="@ViewBag.OutOfReadyLetters" /> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetterNumber)
            </td>
            <td class="hideOnMobile">
                @Html.GetPersianDate(item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgency)
            </td>
            <td class="btns-td text-right width-152">
                <a class="btn btn-success" href="@Url.Action("LetterItem", "Letter", new { letterID = item.ID })" title="نمایش">
                    نمایش
                </a>
                @if (item.LetterStatus == (int)LetterStatus.OutOfVotting )
                {
                    <a class="btn btn-primary" href="@Url.Action("UndoOutOfReadyCouncil", "Letter", new { letterID = item.ID })" title="بازگردانی جهت شور">
                        بازگردانی
                    </a>
                }  
                @if (item.LetterStatus == (int)LetterStatus.OutOfCommisionVotting)
                {
                    <a class="btn btn-primary" href="@Url.Action("UndoOutOfCommisionReadyCouncil", "Letter", new { letterID = item.ID })" title="بازگردانی جهت شور">
                        بازگردانی
                    </a>
                }              
            </td>
        </tr>
    }
