@model Council.Core.Entities.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر پسورد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                تغییر پسورد
            </div>
          
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                @if (TempData["message"] != null)
                                {
                                    var message = (Council.Core.Models.ShowMessage)TempData["message"];
                                    <div class="alert @message.MessageType"><span class="closebtn">×</span>@message.Message</div>
                                }
                            </div>
                        </div>
                       
                        <input name="ID" type="hidden" value=@(Model!=null?Model.ID:"") />

                        <div class="row form-group">
                            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input type="text" name="UserName" value=@(Model!=null?Model.UserName:"") class="text-box single-line form-control" disabled="disabled" />
                                @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div>@ViewBag.Message</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="ذخیره" class="btn btn-sm btn-success" />
                    @Html.ActionLink("بازگشت", "Users", null, new { @class = "btn btn-sm btn-primary" })
                </div>
            }
        </div>
    </div>
</div>
